.App {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  color: aqua;
}

#tabla {
  width: 100%;
  border: 1px solid #000;
}

th,
td {
  width: 25%;
  text-align: left;
  vertical-align: top;
  border: 1px solid #000;
  border-spacing: 0;
}

h2 {
  color: aqua;
}
